.confirm-text-button, .сancel-text-button {
    display: inline-block;
    padding: 10px;
    background-color: #68bf68;
    border-radius: 5px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
    min-width: 180px;
}

.сancel-text-button {
    background-color: #bb6666;
}


.confirm-text-button:hover {
    background-color: #2aa52a;
}

.сancel-text-button:hover {
    background-color: #a34545;
}

.settings-icon {
    display: inline-block;
    fill: var(--grey-color);
    padding: 5px;
    width: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.command-field {
    display: flex;
    flex-direction: row;
}

.command-field .select, .command-field input {
    margin-right: 20px;
}

.cancel-button,
.edit-button,
.add-button,
.delete-button,
.confirm-button {
    display: inline-block;
    fill: var(--grey-color);
    margin-top: 5px;
    padding: 5px;
    width: 35px;
    cursor: pointer;
    transition: 0.4s;
}

.save-button svg{
    display: inline-block;
    fill: var(--grey-color);
    width: 35px;
    padding: 5px;
    height: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.save-button svg:hover{
    fill: var(--green-color);
}
.settings-icon:hover,
.edit-button:hover,
.save-button:hover,
.add-button:hover,
.confirm-button:hover {
    fill: var(--green-color);
}


.buttons {
    display: flex;
    flex-direction: row;
}


.cancel-button:hover, .delete-button:hover {
    fill: #a53e3e;
}

.buttons .confirm-button {
    margin-top: 7px;
}