body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

.create-view {
  max-width: 600px;
  margin: auto;
}

.row-select {
  display: flex;
  justify-content: space-between;
}

.title {
  display: inline-block;
  width: 300px;
}

textarea {
  width: 100%;
  resize: none;
}

.button-view {
  height: 40px;
  text-align: center;
}

.save-button {
  display: flex;
  justify-content: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tgbutton {
  width: 100%;
  height: 35px;
}

.button-creator{
  width: 100%;
}
