:root {
    --grey-color: rgba(66, 67, 72, 0.8);
    --green-color: #43a743;
}

* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MoseoSansCyrl';
    src: url('../src/fonts/MuseoSansCyrl-500.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MoseoSansCyrl';
    src: url('../src/fonts/MuseoSansCyrl-700.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MoseoSansCyrl';
    src: url('../src/fonts/MuseoSansCyrl-900.woff') format('woff');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

body {
  margin: 0;
  font-family: 'MoseoSansCyrl', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: aliceblue;
}

h1 {
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.create-view {
  max-width: 600px;
  margin: auto;
}

.row-select {
  display: flex;
}

.title {

  font-weight: 700;
  display: inline-block;
  padding: 12px;
  min-width: 200px;
}

.form-control {
    padding: 7px 9px 6px;
    font-size: 14px;
    border: 2px solid #e3e8ee;
    border-radius: 8px;
    color: #444;
    white-space: pre-wrap;
    appearance: none;
}

textarea {
  width: 100%;
  resize: none;
}

.button-view {
  height: 40px;
  text-align: center;
}

.save-button {
    width: 45px;
    display: inline-block;
    margin: 12px;
    cursor: pointer;
}

.save-button svg {
    fill: var(--grey-color);
    transition: 0.4s;
}

.save-button svg:hover {
    fill: var(--green-color);
}

.save-button svg {
    width: 100%;
    height: 100%;
}

.row-save-button {
    display: flex;
    justify-content: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tgbutton {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
  color: var(--grey-color);
}



.button-creator{
  width: 100%;
}

.load {
    padding: 12px;
}

.textview-input {
    font-family: 'MoseoSansCyrl';
    font-weight: 500;
    margin: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: aliceblue;
}

input {
    font-family: 'MoseoSansCyrl';
    padding: 12px;
    border-radius: 8px;
    border-color: grey;
    border-style: solid;
    transition: 0.4s;
}

input:focus {
    border-color: black;
}

.settings-icon {
    display: inline-block;
    fill: var(--grey-color);
    padding: 5px;
    width: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.cancel-button, .edit-button {
    display: inline-block;
    fill: var(--grey-color);
    margin-top: 5px;
    padding: 5px;
    width: 35px;
    cursor: pointer;
    transition: 0.4s;
}


.buttons {
    display: flex;
    flex-direction: row;
}


.settings-icon:hover, .edit-button:hover {
    fill: var(--green-color);
}


.cancel-button:hover {
    fill: #a53e3e;
}


.command-field {
    display: flex;
    flex-direction: row;

}

.command-field .select {
    margin-right: 20px;
}
